:root {
    --font: normal normal normal 14px/19px Manrope;
    --font-family-manrope: Manrope;
    --text-color: #072635;
    --text-color-gray: #707070;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #072635;
    max-height: 20px;
    border-radius: 10px;
}

header {
    display: grid;
    place-items: center;
    background-color: #f7f6f9;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 95%;
    height: 65px;
    background-color: white;
    border-radius: 35px;
}

.firstdiv {
    padding: 20px 0;
}

#logo img {
    width: 210px;
}

menu li a {
    font: normal normal bold 14px/19px Manrope;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 0 15px;
    height: 40px;
    color: var(--text-color);
    background: 0% 0% no-repeat padding-box;
    border-radius: 41px;
}

menu li{
    margin-right: 10px;
}

.active {
    background-color: #01F0D0;
}

menu li a:hover {
    background-color: #01F0D0;

}

.doctor-panel {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
}

.doctor-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hr {
    background-color: #EDEDED;
    height: 40px;
    width: 1px;
    margin: 5px 10px 0;
}

.settings {
    display: flex;
    align-items: center;
    gap: 8px;
}


@media only screen and (min-width: 768px) {


    .firstdiv {
        padding: 8px 0 0 20px;
    }

    header {
        height: 90px;
    }

    #logo img {
        width: 170px;
    }

    menu li a {
        font-size: 0.9em;
        border-radius: 20px;
        margin: 0;
    }

    menu {
        display: flex;
    }
}

/* ________________________main */
body{
    background-color: #f7f6f9;

}

.container {
    display: flex;
    padding: 0 20px 20px;
    gap: 20px;
    justify-content: space-between;


}

.left-bar {
    height: 120vh;
    padding: 10px;
    width: 25%;
    background-color: white;
    overflow-y: auto;
    border-radius: 20px;
}

.leftBarName {
    font: normal normal 800 24px/33px Manrope;
    color: var(--text-color);
    padding: 10px;
}

.left-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
    padding: 4px;
    cursor: pointer;
}

.left-cart-img {
    margin-left: 5px;
    display: flex;
    gap: 10px;
    align-items: start;
}

.cart-info {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

#cartname {
    font: normal normal bold 14px/19px var(--font-family-manrope);
    color: #0d2834;
}

#cartgender {
    font: var(--font);
    color: var(--text-color-gray);
}

.left-cart img {
    height: 50px;
    width: 50px;
}

.cart-detail {
    display: flex;
    justify-content: end;
    width: 50px;
}

.main-bar {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-bar-name{
    font: normal normal 800 24px/33px Manrope;
    color: var(--text-color);

}

.chartBar {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.blood-pressure{
    margin: 10px;
    font: normal normal bold 18px/24px Manrope;
    color: var(--text-color);
}




.mainBar-chart {
    display: flex;
    background-color: #F4F0FE;
    border-radius: 12px;
    margin-top: 30px;
}

.chart-div {
    width: 70%;
    padding: 10px;
}

.dot {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #E66FD2;
    border-radius: 50%;
}

.dot-mor {
    background-color: #8C6FE6;
    
}

.sys-dys-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 300px;
    width: 30%;
    padding: 10px 0;
}
.sysdys-dot{
    display: flex;
    align-items: center;
    gap: 5px;
    font: normal normal bold 14px/19px Manrope;
    margin-bottom: 5px;
}

.sys-dys-value{
    font: normal normal bold 22px/30px Manrope;
    color: var(--text-color);
    display: block;
}
.sys-dys-situation{
    font: normal normal normal 14px/19px Manrope;
}

.mainBar_divs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.mainScores {
    width: 30.5%;
    height: 200px;
    padding: 5px 15px;
    border-radius: 15px;
    h5{
        font: normal normal medium 16px/22px Manrope;
        font-size: 16px;
        color: var(--text-color);
        margin-top: 7px;
    }
    h1{
        font: normal normal 800 30px/41px Manrope;
        transition: 3;
    }
    img {
        padding: 5px;
        width: 90px;
    }
    p{
        font: normal normal normal 13px/19px Manrope;
        color: var(--text-color);
        margin-top: 10px;
    }
    
}

.right-bar {
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

.about-bar {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.about {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.rigth_cart {
    margin-top: 20px;
}

.imgDiv {
    text-align: center;
    width: 100%;

    img {
        width: 50%;
    }
    
    h2 {
        font-family: var(--font-family-manrope);
        color: #072635;
        font-size: 1.5em;
        margin-top: 20px;
    }
}

.information {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutCart {
    display: flex;
    gap: 15px;
    margin-top: 10px;

    span {
        font-size: medium 14px;
        color: #072635;
    }
    
    img{
        width: 40px;
    }
    
    p {
        font-size: bold 14px;
        font-weight: bold;
        color: #072635;
        margin-top: 5px;
    }
}
.show-information-btn{
    display: grid;
    place-items: center;
    margin: 40px 0 0;
    padding: 10px 30px;
    border-radius: 41px;
    background-color:#01F0D0 ;
    text-align: center
    ;
    cursor: pointer;
    color: var(--text-color);
    font: normal normal bold 14px/19px Manrope;
}

.show-information-div{
    display: grid;
    place-items: center;
    width: 100%;
}

.diagnosticBar {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 300px;
    margin-top: 20px;
    h3{
        font: normal normal 800 24px/33px Manrope;
        color: var(--text-color);
    }
}

.for-scrool{
    height: 200px;
    margin-top: 30px;
    padding: 0 10px 0 0;
    overflow:scroll;
}


th {
    background-color:#f7f6f9;
}

.title-diagnostic{
    position: sticky;
    top: 0px;
    border-radius: 20px;
}

td,th{
    padding: 10px;
}
#results-bar {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 250px;
    margin-top: 20px;
    h1{
        position:sticky;
        top: 0px;
        font: normal normal 800 24px/33px Manrope;
        color: var(--text-color);
        background-color: #fff;
        margin-bottom: 20px;
    }
}

.result-scroll{
    height: 200px;
    overflow: auto;
}

.results-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    img{
        width: 30px;
    }
    
}

/* .diagnoscntnt{
    display: flex;
    justify-content: space-between;
    } */
    