:root {
    --click: #F6F7F8;
    --mainColor: #FFFFFF;
    --textColor: #072635;
    --scroll:#E3E4E6;
    --button: #01F0D0;
    --subText: #707070;
}

body {
    background-color: var(--click);
    padding:18px
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 70px;
}

.logo img {
    height: 40px;

}


.main-container {
    display: flex;
    overflow: hidden;
}

#profile-hr {
    width: 1px;
    height: 44px;
    --webkit-transform:rotate(90deg);
    opacity: 1;
    color:#EDEDED
}

.navbar {
    display: flex;
    gap:40px
}

.navbar-item {
    display: flex;
    gap:8px;
    padding:14px;
    border-radius: 41px;
    
}

.active-navbar {
    background-color: var(--button);
}
.navbar-item p,.manrope-bold{
    font: 14px "Manrope";
    font-weight: 700;
}

.profile {
    display: flex;
    align-items: center;
    gap:8px
}

.main-container {
    margin-top:32px;
    gap:32px;
    display: flex;
    height: 1107px;
}

main {flex:2}

.right-side {flex:1}

.main-container .left-side,.right-side,.main-chart,.diagnostic-list {
    background-color:var(--mainColor);
}

.left-side { 
    border-radius: 16px;
    flex:1;
    }

.card-cover {
    padding:20px;
    cursor:pointer;
}

.left-top {
    padding:20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.left-top img{width: 18px; height: 18px;}

.header-text {
    font: 24px "Manrope";
    font-weight:800;
}

.left-card-container {
    overflow-y: scroll;
    height: 101vh;
    
}

.activePatient {
    background-color: #D8FCF7;
}

.title-sub {
    font-family: manrope;
    color:var(--subText)
}
.card-right img {
    width: 18px;
    height: 4px;
}
.card {
    
    display: flex;
    justify-content: space-between;
}




.card-left {
    display: flex;
    gap:12px
}

.card-left img {
    width: 48px;
    height: 48px;
}

.main-chart {
    border-radius: 16px;
    padding: 20px;
}

main {
    
    background-color: var(--click);
}

.chart {
    margin-top: 40px;
    height: 298px;
    width: 100%;
    background-color: #F4F0FE;
    border-radius: 12px;
}

.rates {
    display: flex;
    gap:21px;
    margin-top:20px;

}
.rate-element:first-child {
    background-color: #E0F3FA;
    flex:1;
}

.rate-element:nth-child(2) {
    background-color: #FFE6E9;
    flex:1;
}

.rate-element:nth-child(3) {
    background-color: #FFE6F1;
    flex:1;
}

.rate-element {
    flex-direction: column;
    height: 242px;
    border-radius: 12px;
    padding:16px

}

.rate-element p {
    font-family: "Manrope";
    margin-top:16px;
    font-weight:600
}

.rate-element span {
    display: block;
}

.data-rate {
    font: 30px "Manrope";
    font-weight: 800;
}

.rate-normality {
    margin-top:17px;
    font:14px "Manrope";
}

.diagnostic-list {
    padding:20px;
    margin-top:32px;
    border-radius: 16px;
    height: 400px;
}

.diagnostic-list-header {
    display: flex;
    width: 100%;
    border-radius: 24px;
    background-color: var(--click);
    margin-top: 40px;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.diagnostic-list-header p {
    flex:1;
    font:14px "Manrope";
    font-weight: 800;
}

.diagnostic-list-data-container {
    margin-top:10px;
    overflow-y: scroll;
    height: 23vh;
}

.diagnostic-list-data p {
    font-family: "Manrope";
    font-weight: 500;

}
.diagnostic-list-data {
    margin-top:7px;
    display: flex;
    padding:16px;
}

.diagnostic-list-data p:first-child {
    flex:1.4
}
.diagnostic-list-data p:nth-child(2) {
    flex:2; text-align: left;
}
.diagnostic-list-data p:nth-child(3) {
    text-align: center; flex:1.3
}

.patient-active {
    background-color: #D8FCF7;
}


.profileCredential {
    border-radius: 16px;
    padding-top:32px;
    padding-bottom: 32px;
    background-color: var(--mainColor);
}

.right-side {
    background-color: var(--click);
}

.profileName img {
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
}

.profileName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials {
    display: flex;
    flex-direction: column;
    gap:24px;
    padding-left: 20px;
    padding-top:32px;
}

.credential-text p {
    margin-bottom: 4px;
    font-family: "Manrope";
    font-weight: 500;
}

.credential-text span {
    font-family: "Manrope";
    font-weight: 700;
}
.credential {
    display: flex;
    gap:16px;
}

.credentials button {
    text-transform: capitalize;
    font-family: "Manrope";
    font-weight: 700;
    padding-block: 40px;
    border-radius: 41px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: var(--button);
    border: 0;
    width: 70%;
    margin: 20px auto 0 auto;
}

.Lab-result {
    background-color: var(--mainColor);
    margin-top: 32px;
    border-radius: 16px;
    padding: 20px;
    height: 296px;
}

.lab-result-card {
    margin-top:16px;
    padding-block: 10px;
    padding-left:16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    font-family: "Manrope";
    margin-top: 3px;
}

.lab-result-container {
    margin-top: 16px;
    overflow-y: scroll;
    height: 20vh;
}
.lab-result-container img {
    width: 20px;
    height: 20px;
}

.chart {
    padding:16px;
    height: 258px;
}

.chart-sub2 {
    width: 208px;
    height: 201px;
}
.chart-sub1 {
    width: 370px;
    height: 330px;
}


.chart {
    display: flex;
}

.chart-sub2 {
    padding: 20px;
}

.pink-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #E66FD2;
}

.systolic-header {
    gap:4px;
    display: flex;
    align-items: center;
}

.systolic-value {
    font: 22px "Manrope";
    font-weight: 800;
    margin-top: 8px;
}

.normality {
    display: flex;
    margin-top: 8px;
    gap:8px
}

.normality img {
    object-fit: contain;
}

.normality span {
    font: 14px "Manrope";
}

.chart-sub2 hr {
    margin-top: 16px;
}